.hero{
    background-color: #99cdd9;
    display: flex;
    justify-content: space-between;
}
.hero-bookshelf-img{
    width: 40vw;
    height: 100%;
}
.hero-left{
    display: flex;
    flex-direction: column;
    padding: 12rem 5rem;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.4;
    font-family: "Montserrat", sans-serif;
    width: 40rem;

}
.hero-left > h1 > span{
    color: #000; ;
}
.hero-newbook{
    margin-top: 1rem;
    background: #000;
    width: 11rem;
    padding: 0.2rem 0.6rem;
    color: #fff;
    text-decoration: none;
    border-radius: 2rem;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: 1.5rem;
}
.hero-newbook>span{
    font-size: 1.9rem;
}

@media (max-width:1170px) {
    .hero{
        justify-content: center;
    }
    .hero-bookshelf-img{
        display: none;
    }
    .hero-left{
        padding-top: 3rem;
        padding-bottom: 4rem;
        padding-left: clamp(2rem, 10vw,10rem);
        text-align: center;
        align-items: center;
        width: clamp(40rem, 70vw,60rem);
        gap: 1.5rem;
    }
    .hero-left h1 br{
        display: none;
    }
}

@media (max-width:400px){
    .hero-left{
        width: 100%;
        padding-right: 3rem;
        font-size: 1.5rem;
    }
    .hero-left h1{
        width: 100%;
    }
}
