.books{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: #C1E7C5;
    background-image: url("../../assets/images/pattern_flower.png");
    background-size: 50rem;
    background-repeat: repeat(1);
    background-blend-mode: screen;
}
.books-wrap{
    width: 92%;
    background-color: #fff;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
}
.books-left{
    width: 50%;
}
.books-right{
    display: flex;
    gap: 1rem;
    width: 50%;
}
.books-details{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 0.5rem;
}
.books-details h1{
    font-weight: 600;
}
.books-details h2{
    font-weight: 500;
    font-size: 1.3rem;
}
.books-details p{
    color: rgb(81, 80, 80);
}
.books-details-btns{
    display: flex;
    margin-top: 0.7rem;
    gap: 1rem;
}
.readmore-btn, .buy-online-btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 0.9rem;
    width: 10rem;
}
.readmore-btn{
    background-color: #C1E7C5;
    padding: 0.7rem;
    border-radius: 2rem;
    color: #000;
    font-weight: 450;
}
.buy-online-btn{
    background-color: #000;
    padding: 0.7rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 450;
}

.book-cover-img{
    /* margin-top: 1rem; */
    width: 10rem;
    height:13rem;
}
.notes{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 3rem;
}
.books-alternative{
    display: flex;
    gap: 3rem;
    width: 100%;
    padding: 0 3rem;
    justify-content: center;
}
.books-alternative-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-size: contain;
}
.books-alternative-right h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
}
.books-alternative-left img{
    width: 20rem;
}
.birds-vector-img{
    width: 4rem;
    height: 2rem;
    position: absolute;
}
@media (max-width:1100px){
    .books-wrap{
        flex-wrap: wrap;
    }
    .books-left{
        order: 1;
        width: 100vh;
    }
    .books-right{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .books{
        background-size: 40rem;
    }
    .books-right>div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap:clamp(2rem,7vw,9rem)
    }
    .books-details{
        width: 22rem;
    }
    .books-details-btns{
        flex-direction: column;
        align-self: center;
        gap: 2rem;
    }
}

@media (max-width:880px){
    .books-details-btns{
        flex-direction: row;
    }
    .books{
        background-size: 35rem;
    }
}
@media (max-width:710px){
    .book-cover-img{
        order: -1;
        align-self: center;
        margin: 0;
    }
    .books-right{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .books-details{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .books-details-btns{
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
    }
    .books-alternative{
        flex-direction: column;
        align-items: center;
    }
    .books-alternative-right{
        width: 100%;
    }
    .books-alternative-left{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:400px){
    .books-details-btns{
        gap: 1rem;
        align-items: center;
    }
    .books-details-btns{
        margin-top: 0;
    }
    .readmore-btn, .buy-online-btn{
        width: 9rem !important;
    }
    .books{
        background-size: 28rem;
    }
    .books-alternative-left img{
        width: 16rem;
    }
    .books-alternative-right{
        width: 100%;
    }
    .books-alternative-right h1{
        font-size: 2.3rem;
    }
}