.navbar {
    display: flex;
    position: absolute;
    top: 0;
    font-family: "Poppins", sans-serif;
}
.account-logo {
    visibility: hidden;
}
.contact-navbar {
    background-color: #99cdd9;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}
.book-navbar {
    background-color: #c1e7c5;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}
.about-navbar {
    background-color: #c1e7c5;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}
.addbook-navbar {
    background-color: #a48ecc;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}
.account-navbar {
    background-color: #a48ecc;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}
.contact-navbar ul,
.about-navbar ul,
.account-navbar ul {
}
.contact-navbar ul li:nth-child(4),
.about-navbar ul li:nth-child(4),
.addbook-navbar ul li:nth-child(4),
.book-navbar ul li:nth-child(4),
.account-navbar ul li:nth-child(4) {
    display: none;
}
.section-contact,
.section-about,
.section-account,
.section-home {
    color: #000000 !important;
    font-weight: 500;
}
.home-logo{
    color: #99cdd9 !important;
}


.nav-logo {
    width: 8rem;
    height: 9rem;
    background-color: #fff;
    color: #272525;
    margin-left: clamp(0.5rem, 5vw, 3rem);
    font-size: 2rem;
    padding: 2rem 0.5rem;
    line-height: 1;
    box-shadow: 5px 2px 8px rgb(107, 105, 105);
    border-radius: 0 0 0.5rem 0.5rem;
}
.navlogo-span {
    margin-left: 1rem;
}
.nav-items {
    display: flex;
    margin: 0 1rem;
    gap: clamp(0.1rem, 5vw, 7rem);
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin-left: 38vw;
    animation: slideOut 0.5s backwards;
}
.navbar-search-icon{
    position: absolute;
    right: 2.5rem;
    margin-top: 0.25rem;
    color: rgb(86, 85, 85);
    cursor: pointer;
}
.navbar-close-icon{
    position: absolute;
    right: 2.5rem;
    margin-top: 0.25rem;
    color: rgb(86, 85, 85);
    cursor: pointer;
}
.nav-items li a {
    text-decoration: none;
}
.nav-about {
    color: white;
    font-weight: 400;
}
.nav-contact,
.nav-login {
    color: #fff;
}
.nav-login {
    display: flex;
    width: 3.5rem;
}

.search-book {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
    padding-right: 3rem;
}
.search-book:focus {
    outline: none;
}
.search-book::placeholder {
    font-family: "Poppins", sans-serif;
    color: #000;
}
.nav-menu-icon {
    display: none;
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem 0 auto;
    cursor: pointer;
    position: absolute;
    right: 0;
}

@media (max-width: 1170px) {

    .section-contact,
    .section-about,
    .section-account,
    .section-home {
        color: #fff !important;
        font-weight: 500;
    }
    .navbar-search-icon, .navbar-close-icon{
        position: absolute;
        top: 13.2rem;
        left: 10.5rem;
    }
    .navbar {
        position: relative;
        z-index: 10;
    }
    .nav-items {
        display: none;
        margin-right: 0;
        font-weight: 450;
    }
    .nav-menu-icon {
        display: flex;
        z-index: 1;
    }
    .nav-toggle-on {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(35px);
        position: absolute;
        border: 1px solid white;
        right: 0;
        align-items: start;
        gap: 2rem;
        height: 18rem;
        padding: 4rem 2.5rem;
        animation: slideIn 0.5s forwards;
    }
    .nav-toggle-on li a {
        color: #fff;
    }
    .nav-menu-icon-on {
        border-radius: 0.2rem;
    }
    .search-book {
        border: 1px #000 solid;
    }
    .nav-about,
    .nav-contact,
    .nav-login {
        color: #000 !important;
    }
}

@keyframes slideIn {
    from {
        top: -400px;
        right: 2px;
        opacity: 0;
    }
    to {
        right: 0;
        top: 0;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        top: 0;
        right: 0;
        opacity: 0;
    }
    to {
        right: -400px;
        top: 2px;
        opacity: 1;
    }
}
