.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    padding-top: 2rem !important;
    background-color: black;
    color: #fff;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.footer p{
    color: #b8b3b3;
    font-size: 0.8rem;
}
.footer-social{
    display: flex;
    gap: 1rem;
}
.footer-social svg:hover{
    transform: scale(1.25);
}
@media (max-width:500px){
    .footer{
        flex-direction: column;
        gap: 0.6rem;
        padding: 0.2rem 0;
    }
}

