.AddBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0  0;
    background-color: #a48ecc;
    height: 100%;
}
.AddBook-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #c8bce0;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}
.AddBook-container > h3 {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-weight: 400;
    height: 2.7rem;
    padding-top: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
}
.AddBook-form {
    display: flex;
    flex-direction: column;
    padding: 0 clamp(1rem, 8vw, 6rem) 2rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1rem 2fr;
    gap: 1rem;
}

.AddBook-form label:nth-child(1),
.AddBook-form label:nth-child(3) {
    grid-column: span 3;
}
.AddBook-name,
.AddBook-author {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.AddBook-name-field,
.AddBook-author-field {
    height: 2.5rem;
    border: none;
    padding: 1rem;
}
.AddBook-date {
    grid-area: 3 / 3 / 4 / 4;
}
.AddBook-rating {
    grid-area: 4 / 1 / 5 / 2;
}
.AddBook-link {
    grid-area: 4 / 3 / 5 / 4;
}
.AddBook-isbn,
.AddBook-date,
.AddBook-rating,
.AddBook-link {
    display: flex;
    flex-direction: column;
}
.AddBook-summary {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.AddBook-notes {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.AddBook-submit-btn {
    grid-column: span 3;
}
.AddBook-img-field{
    grid-area: 7 / 1 / 8 / 4;
}
.AddBook-img{
    cursor: pointer;
    width: 9rem;
    height: 10rem;
}
.AddBook-name-field::placeholder,
.AddBook-author-field::placeholder,
.AddBook-isbn-field::placeholder,
.AddBook-date-field::placeholder,
.AddBook-link-field::placeholder,
.AddBook-summary-field::placeholder,
.AddBook-notes-field::placeholder {
    font-family: "Montserrat", sans-serif;
}
.AddBook-name-field:focus,
.AddBook-author-field:focus,
.AddBook-isbn-field:focus,
.AddBook-date-field:focus,
.AddBook-link-field:focus,
.AddBook-summary-field:focus,
.AddBook-notes-field:focus {
    border: none;
    outline: none;
}
.AddBook-date-field{
    cursor: pointer;
}
.AddBook-name-field,
.AddBook-author-field,
.AddBook-isbn-field,
.AddBook-date-field,
.AddBook-link-field,
.AddBook-summary-field,
.AddBook-notes-field,
.AddBook-rating-field {
    border: none;
    border-radius: 5px;
}
.AddBook-isbn,
.AddBook-date,
.AddBook-rating,
.AddBook-link {
    display: flex;
    gap: 0.7rem;
}
.AddBook-isbn-field,
.AddBook-date-field,
.AddBook-rating-field,
.AddBook-link-field {
    width: 100%;
    height: 2.5rem;
    border: none;
    padding: 1rem;
}
.AddBook-date-field,
.AddBook-rating-field {
    font-family: "Montserrat", sans-serif;
    color: grey;
}
.AddBook-rating-field {
    padding: 0.2rem;
}
.AddBook-rating-field:focus{
    outline: none;
}
.AddBook-summary-field,
.AddBook-notes-field {
    padding: 1rem;
    height: 10rem;
}
.AddBook-submit-btn{
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    background-color: #000;
    color: #fff;
    border-radius: 3rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.error{
    font-size: 0.9rem;
    color: rgb(249, 60, 60);
}
.alert{
    width: 20rem;
}
.snackbar{
    margin-bottom: 4vh;
}
@media (max-width: 720px) {
    .AddBook-container {
        width: 85%;
    }
    .AddBook-isbn {
        grid-area: 3 / 1 / 4 / 4;
    }
    .AddBook-date {
        grid-area: 4 / 1 / 5 / 4;
    }
    .AddBook-rating {
        grid-area: 5 / 1 / 6 / 4;
    }
    .AddBook-link {
        grid-area: 6 / 1 / 7 / 4;
    }
    .AddBook-img-field{
        grid-area: 10 / 1 / 11 / 4;
    }
    .AddBook-submit-btn {
        grid-row: 11 / 12;
    }
}
