.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 0;
    background-color: #c1e7c5;
}
.book-wrap {
    width: 92%;
    margin-top: 9rem;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.book-wrap > div {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
.book-left {
    width: 50%;
}
.book-right {
    display: flex;
    gap: 1rem;
    width: 50%;
}
.book-details {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 0.5rem;
}
.book-details h1 {
    font-weight: 600;
}
.book-details h2 {
    font-weight: 500;
    font-size: 1.3rem;
}
.book-details p {
    color: rgb(81, 80, 80);
}
.book-details-btns {
    display: flex;
    margin-top: 0.7rem;
    gap: 1rem;
}
.book-edit-btn,
.buy-online-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-size: 0.87rem;
    width: 10rem;
}
.book-edit-btn {
    background-color: #c1e7c5;
    padding: 0.7rem;
    border-radius: 2rem;
    color: #000;
    font-weight: 450;
}
.buy-online-btn {
    background-color: #000;
    padding: 0.7rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 450;
}

.book-cover-img {
    margin-top: 1.5rem;
    width: 10rem;
    height: 13rem;
}
.book-wrap hr {
    width: 95%;
    margin-top: 1rem ;
}
.book-notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
    font-family: "Montserrat", sans-serif;
    gap: 15rem;
}
.book-notes h3 {
    /* background-color: #000; */
    color: #000;
    /* width: 100%; */
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.5rem;

}
.book-notes hr{
    width: 100%;
}
.book-notes-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 3.5rem;
    line-height: 1.5;
    color: #000 !important;
}
.backto-home-btn{
    width: 8.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem 0.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 3rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 1100px) {
    .book-wrap>div{
        flex-wrap: wrap;
    }
    .book-wrap{
        margin-top: 0;
    }
    .book-left {
        order: 1;
        width: 100%;
    }
    .book-right {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-right: 1rem;
    }
}

@media (max-width: 880px) {
    .book-details-btns {
        flex-direction: row;
    }
    .book-notes-list{
        padding: 0 1.5rem;
    }
}
@media (max-width: 710px) {
    .book-cover-img {
        order: -1;
        align-self: center;
        margin: 0;
    }
    .book-right {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    .book-details {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .book-details-btns {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
    }
    .book-notes-list{
        padding: 0 0.3rem;
    }
}
@media (max-width: 400px) {
    .book-details-btns {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .book-details-btns{
        flex-direction: row;
    }
    .book-edit-btn, .buy-online-btn{
        width: 10rem !important;
    }
    .book-left{
        padding: 0 0.8rem;
    }
    .book{
        background-size: 28rem;
    }
    .book-alternative-left img{
        width: 16rem;
    }  
    .book-details p:nth-child(5){
        width: 100%;
    }
    .book-notes-list{
        padding: 0;
        color: #000;
        font-size: 1rem;
    }
    .book-notes{
        padding: 0 1.2rem !important;
    }
    .backto-home-btn{
        margin-bottom: 1rem;
    }
}
